/*----------------------------------------------------------------------------------
-------------------------------------  MOBILE --------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 320px) {
}

/*----------------------------------------------------------------------------------
-------------------------------------  TABLETTE ------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 599px) {
}

@media (min-width: 899px) {
}

/*----------------------------------------------------------------------------------
-------------------------------------  DESKTOP -------------------------------------
----------------------------------------------------------------------------------*/

@media (min-width: 1199px) {
}

.welcomeCtn {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
    font: {
      size: 2rem;
      weight: bold;
    }
  }

  &__form {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--input {
      width: 250px;
      height: 40px;
      padding: 0.5rem;
      border: solid 2px #112633ab;
      margin-right: 0.5rem;
      border-radius: 5px;
      font-size: 1.3rem;

      &:hover {
        box-shadow: #23475f70 0px 7px 29px 0px;
      }

      &:focus {
        border: solid 2px #ffc800;
      }
    }

    &--btn {
      width: 100px;
      background-color: #23475f;
      color: #fff;
      border-radius: 5px;
      font-size: 1.3rem;

      &:hover {
        box-shadow: #23475f70 0px 7px 29px 0px;
      }
    }
  }
}
